:root{
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1236px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1236px) {
    .container{
        width: 1066px;
    }
}

@media (max-width: 1036px) {
    .container{
        width: 966px;
    }
}
@media (max-width: 980px) {
    .container{
        width: 766px;
    }
}
