.container{
    display: flex;
    gap: 100px;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 88px;
    color: var(--btn);
}

.desc{
    font-size: 20px;
}

.imgContainer{
    flex: 1;
    position: relative;
}

.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}

.button{
    padding: 20px;
    cursor: pointer;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--btn);
    color: var(--text);
}

.button:hover{
    background-color: rgba(67, 67, 190, 0.693);
    color: var(--text);
}

.button2{
    padding: 20px;
    cursor: pointer;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.button2:hover{
    background-color: rgba(209, 209, 209, 0.693);
    color: var(--text);
}

.buttons{
    display: flex;
    gap: 20px;
}