.container{
    height: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
}

.logo{
    font-weight: bold;
}

.text{
    font-size: 12px;
}